#import autosub
<html>
<head>
	<title>AutoSub</title>
</head>
<body>
Placeholder website, when finished, this page will allow you to change to settings on the fly.
<p>
NOTE!: This function read the config file and applies its settings. Currently only applies: SkipShow & Namemapping<br>
<a href='/config/applyConfig'>Apply Config</a><br>
<p>
<a href='/home'>Return home</a>
</body>
</html>
