#import autosub
#from autosub.version import autosubversion

</div>
<center>

AutoSub version: $autosubversion
<p>
APICalls left since last call: $autosub.APICALLS, reset in: 
#if ($autosub.APICALLSRESETINT - ($time.time() - $autosub.APICALLSLASTRESET)) < 0
resets at next API call
#else
$time.strftime('%H:%M:%S', $time.gmtime(($autosub.APICALLSRESETINT - ($time.time() - $autosub.APICALLSLASTRESET) )))
#end if
<p>
<a href="/home/resetAPICalls">Click to reset APICalls</a>

</center>
</body>
</html>