#import autosub
#import time
<html>
<head>
	<title>AutoSub</title>
</head>
<body>
<a href='runNow'>Run Everything Now</a>
<p>
<a href='shutdown'>Shutdown</a>
<p>

#if $len($autosub.WANTEDQUEUE) >= 1
<b>Wanted queue:</b>
<table border=1>
<tr>
	<td>Show name</td>
	<td>Season</td>
	<td>Episode</td>
	<td>Quality</td>
</tr>
#for $var in $autosub.WANTEDQUEUE
<tr>
<td>$var['title']</td>
<td>$var['season']</td>
<td>$var['episode']</td>
<td>$var['quality']</td>
</tr>
#end for
</table>
#end if
<p>
#if $len($autosub.LASTESTDOWNLOAD) >= 1
<b>Last 10 subtitle:</b>
<table border=1>
<tr>
	<td>Show name</td>
	<td>Season</td>
	<td>Episode</td>
	<td>Quality</td>
</tr>
#for $var in $autosub.LASTESTDOWNLOAD
<tr>
<td>$var['title']</td>
<td>$var['season']</td>
<td>$var['episode']</td>
<td>$var['quality']</td>
</tr>
#end for
</table>
#end if
<p>
<table>
<tr>
	<td>
		Next RSSCheck in:
	</td> 
	<td>
		$time.strftime('%H:%M:%S', $time.gmtime(($autosub.CHECKRSS.interval - ($time.time() - $autosub.CHECKRSS.lastrun) ))) <br>
	</td>
</tr>
<tr>
	<td>
		Next ScanDisk in: 
	</td>
	<td>
		$time.strftime('%H:%M:%S', $time.gmtime(($autosub.SCANDISK.interval - ($time.time() - $autosub.SCANDISK.lastrun) ))) <br>
	</td>
</tr>
<tr>
	<td>
		Next CheckSub in: 
	</td>
	<td>
		$time.strftime('%H:%M:%S', $time.gmtime(($autosub.CHECKSUB.interval - ($time.time() - $autosub.CHECKSUB.lastrun) ))) <br>
	</td>
</tr>
</table>
</body>
</html>
