#import autosub
#import time
#import cgi

#include $os.path.join($autosub.PATH, "interface/templates/header.tmpl")

<script language="JavaScript">

\$(document).ready(function() {
#set $counter = 1
#for $var in $autosub.WANTEDQUEUE
	#set $divname = "skipshow-" + $var['title'] + $var['season'] + $var['episode'] + $var['quality'] + str($counter)
	#set $buttonname = "skipshowbutton-" + $var['title'] + $var['season'] + $var['episode'] + $var['quality'] + str($counter)
	#set $buttonseason = "skipshowbuttonseason-" + $var['title'] + $var['season'] + $var['episode'] + $var['quality'] + str($counter)
	#set $buttonall = "skipshowbuttonall-" + $var['title'] + $var['season'] + $var['episode'] + $var['quality'] + str($counter)
	#set $url = "/config/skipShow/" + $cgi.escape($var['title'])
  	\$("#$divname").hide();
    \$("#$buttonname").click(function () {
    	\$("#$divname").show();
    });
    \$("#$buttonall").click(function () {
    	document.location.href="$url/0";
    });
    \$("#$buttonseason").click(function () {
    	document.location.href="$url/$var['season']";
    });
    #set $counter = $counter + 1 
#end for
    
   });

</script>
<body>

#include $os.path.join($autosub.PATH, "interface/templates/menu.tmpl")


<br>
<h1>Wanted Subtitles</h1>

#if $len($autosub.WANTEDQUEUE) >= 1
<form>
<table id="historyTable" class="queueTable" cellspacing="0">
<thead>
<tr>
	<th>Show name</th>
	<th>Season</th>
	<th>Episode</th>
	<th>Quality</th>
	<th>Source</th>
	<th>Procent Done</th>
	<th>Expected</th>
	<th>Skip Show</th>
</tr>
</thead>
      <tfoot>
        <tr>
          <th rowspan="1" colspan="8"></th>
        </tr>
      </tfoot>
      <tbody>
#set $counter = 1
#for $var in $autosub.WANTEDQUEUE
#set $divname = "skipshow-" + $var['title'] + $var['season'] + $var['episode'] + $var['quality'] + str($counter)
#set $buttonname = "skipshowbutton-" + $var['title'] + $var['season'] + $var['episode'] + $var['quality'] + str($counter)
#set $buttonseason = "skipshowbuttonseason-" + $var['title'] + $var['season'] + $var['episode'] + $var['quality'] + str($counter)
#set $counter = $counter + 1
#set $buttonall = "skipshowbuttonall-" + $var['title'] + $var['season'] + $var['episode'] + $var['quality'] + str($counter)
<tr class="alt">
<td align="center"><b>$var['title']<b></td>
<td align="center">$var['season']</td>
<td align="center">$var['episode']</td>

#if 'quality' in $var.keys()
	<td align="center">$var['quality']</td>
#else
	<td align="center">?</td>
#end if

#if 'source' in $var.keys()
	<td align="center">$var['source']</td>
#else
	<td align="center">?</td>
#end if

#if 'WIPProc' in $var.keys()
<td align="center">$var['WIPProc']</td>
#else
<td align="center">?</td>
#end if

#if 'WIPDate' in $var.keys()
<td align="center">$var['WIPDate']</td>
#else
<td align="center">?</td>
#end if


<td align="center">
<input type="button" value="Skip Show" id="$buttonname"></td>
</tr>

<tr ID="$divname">

	<td align="right" colspan="9">
		<input id="$buttonseason" type=button value='Skip Season $var['season']'>
		<input id="$buttonall" type=button value='Skip Complete Show'>
	</td>
</tr>

</tr>
#end for
</table>
#end if
<p>
#if $len($autosub.LASTESTDOWNLOAD) >= 1
    <br/><h1>Latest download subtitles</h1>
<table id="historyTable" class="queueTable" cellspacing="0">
<thead>
<tr>
	<th>Show name</th>
	<th>Season</th>
	<th>Episode</th>
	<th>Quality</th>
	<th>Source</th>
	<th>Language</th>
</tr>
</thead>
 <tfoot>
        <tr>
          <th rowspan="1" colspan="8"></th>
        </tr>
      </tfoot>
#for $var in $autosub.LASTESTDOWNLOAD
<tr class="alt">
<td align="center"><b>$var['title']</b></td>
<td align="center">$var['season']</td>
<td align="center">$var['episode']</td>
<td align="center">$var['quality']</td>

#if 'source' in $var.keys()
	<td align="center">$var['source']</td>
#else
	<td align="center">?</td>
#end if

<td align="center"><img src="../media/images/#if $var['lang'] is "nl" then "nl.png\" alt=\"Y\"" else "en.png\" alt=\"N\""# /></td>
</tr>
</form>
#end for
</table>
#end if
<p>
<br>
<table>
<tr>
	<td>
		Next RSSCheck in:
	</td> 
	<td>
		#try
		  $time.strftime('%H:%M:%S', $time.gmtime(($autosub.CHECKRSS.interval - ($time.time() - $autosub.CHECKRSS.lastrun) ))) <br>
		#except
		  Please wait... <br>
		#end try
	</td>
</tr>
<tr>
	<td>
		Next ScanDisk in: 
	</td>
	<td>
		#try
		  $time.strftime('%H:%M:%S', $time.gmtime(($autosub.SCANDISK.interval - ($time.time() - $autosub.SCANDISK.lastrun) ))) <br>
		#except
		  Please wait... <br>
		#end try
	</td>
</tr>
<tr>
	<td>
		Next CheckSub in: 
	</td>
	<td>
		#try
		  $time.strftime('%H:%M:%S', $time.gmtime(($autosub.CHECKSUB.interval - ($time.time() - $autosub.CHECKSUB.lastrun) ))) <br>
		#except
		  Please wait... <br>
		#end try
	</td>
</tr>
<tr>
	<td>
		Next WipStatus in:
	</td>
	<td>
		#try
		  $time.strftime('%H:%M:%S', $time.gmtime(($autosub.WIPSTATUS.interval - ($time.time() - $autosub.WIPSTATUS.lastrun) )))
		#except
		  Please wait... <br>
		#end try
	</td>
</tr>
</table>

#include $os.path.join($autosub.PATH, "interface/templates/footer.tmpl")