<ul class="sf-menu">
    <li><a href="#">&nbsp</a></li>
    <li><a href="#">Home</a>
        <ul>
            <li><a href="#">Update</a></li>
            <li><a href="#">Restart</a></li>
            <li><a href="#">Shutdown</a></li>
        </ul>
    </li>
    <li><a href="#">Config</a>
        <ul>
            <li><a href="#">Subitem 2.1</a></li>
            <li><a href="#">Subitem 2.2</a></li>
            <li><a href="#">Subitem 2.3</a></li>
            <li><a href="#">Subitem 2.4</a></li>
        </ul>
    </li>
    <li><a href="#">Log</a>
        <ul>
            <li><a href="#">Subitem 3.1</a></li>
            <li><a href="#">Subitem 3.2</a></li>
            <li><a href="#">Subitem 3.3</a></li>
            <li><a href="#">Subitem 3.4</a></li>
        </ul>
    </li>

</ul>

<div>
  <div id="content">