
        <nav>
            <ul>
				<li><a href="#">&nbsp</a></li>
                <li class="drop"><a href="/home/">Home</a>
                    <ul class="menu">
                        <li><a href="/home/update">Update</a></li>
                        <li><a href="/home/restart">Restart</a></li>
                        <li><a href="/home/shutdown">Shutdown</a></li>
                    </ul>
                </li>
				<li><a href="/home/">History</a></li>
				<li><a href="/manage/">Manage</a></li>
                <li class="drop"><a href="/config">Config Menu</a>
                    <ul class="menu">
                        <li><a href="/home/runNow">Run Everything Now</a></li>
                        <li><a href="/home/runwipStatusNow">Update WIP now</a></li>
                    </ul>
                </li>
				<li><a href="/log/">Log</a></li>
            </ul>
        </nav>



<div>
  <div id="content">