<ul class="sf-menu">
    <li><a href="#">&nbsp;</a></li>
    <li><a href="/home">Home</a>
        <ul>
            <li><a href="/home/runNow">Run Now</a></li>
            <li><a href="/home/shutdown">Shutdown</a></li>
        </ul>
    </li>
    <li><a href="/config">Config</a>
        <ul>
            <li><a href="/config/flushCache">Flush Cache</a></li>
            <li><a href="/config/flushLastdown">Flush Last Downloaded</a></li>
            <li><a href="/config/checkVersion">Check Version</a></li>
        </ul>
    </li>
</ul>

<div>
  <div id="content">