#import autosub

<textarea rows="10" cols="20" name="usernamemapping">$autosub.Config.displayNamemapping</textarea> Required. It allows the user to name local Show Name to bierdopje serie number.<br />
