#import autosub

Webserverip: <input type="text" name="webserverip" value="$autosub.WEBSERVERIP" /> To allow hosts to connect to any ip number assign to the machine use '0.0.0.0'<br />
Webserverport: <input type="text" name="webserverport" value="$autosub.WEBSERVERPORT" /><br />
Username: <input type="text" name="username" value="$autosub.USERNAME" /> If a username and password are set, the webserver requires authentication. Otherwise no authentication is set or required.<br />
Password: <input type="password" name="password" value="$autosub.PASSWORD" /><br />
